// Specific CSS for your home-page

header {
   background-color: #F2F0EB;
   font-family: "Archivo";
   font-size: 70px;
}

body {
  background-color: #F2F0EB;
  font-family: "Archivo";
  font-weight: lighter;
  box-sizing: border-box;
}


.banner {
  background: asset_url('muro1.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: max-content;
  padding: 300px;

}


.links {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}


a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
