
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> Welcome to Ogazón </h1>
    <p>The part-Spanish, part-Luxembourgish artist has cultivated her skill and selection process in Amsterdam’s after-hour scene. Now residing in Berlin, her rhythms find inspiration in the eclectic and somewhat wilder characteristics of the city. Not bound to a sound in particular, Ogazón is best in arranging a coherent thread of feelings throughout her sets, be it melancholic bliss, ecstatic hope or just pure dancefloor pleasure.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<p> Welcome to Oggy's shitty website</p>


<ul>
<%= link_to "Ogazón Biography", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Booking Form", booking_path %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/Oggy_presspic.jpg" alt="Portrait">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>§
</div>

</ul>
