<h1> Welcome to Ogazón </h1>

<p> Welcome to Oggy's shitty website</p>

<ul>
<%= link_to "Ogazón Biography", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Booking Form", booking_path %>


</ul>
