<%= image_tag "muro1.jpeg", alt: "Muro1" %>

<h1> Welcome to Ogazón </h1>

<p> Welcome to Oggy's shitty website</p>

<ul>
<%= link_to "Ogazón Biography", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Booking Form", booking_path %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/Oggy_presspic.jpg" alt="Portrait">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</ul>
