<h1> Welcome to Ogazón </h1>

<p> Welcome to Oggy's shitty website</p>

<ul>
<%= link_to "Ogazón Biography", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Booking Form", booking_path %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://instagram.ftxl2-1.fna.fbcdn.net/v/t51.2885-15/e35/p320x320/263406995_146277104402308_2419857562481455797_n.jpg?_nc_ht=instagram.ftxl2-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=SruC3x6niYQAX-0HZ4C&edm=ALQROFkBAAAA&ccb=7-4&ig_cache_key=MjcxOTIzMDA1MDg2MjA5MzI2MA%3D%3D.2-ccb7-4&oh=00_AT-riinlJnPoVW-AOZnABsh_Tqyelv26ntTKNAWsS1dWcw&oe=61DEB7F1&_nc_sid=30a2ef" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</ul>
